/* ICONS */
.icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle; }

.icon-class {
  background: url(/icons/class.png) center left no-repeat; }

.icon-interface {
  background: url(/icons/interface.png) center left no-repeat; }

.icon-struct {
  background: url(/icons/struct.png) center left no-repeat; }

.icon-enum {
  background: url(/icons/enum.png) center left no-repeat; }

.icon-delegate {
  background: url(/icons/delegate.png) center left no-repeat; }

.icon-unknown {
  background: url(/icons/type.png) center left no-repeat; }

.icon-assembly {
  background: url(/icons/assembly.png) center left no-repeat; }

.icon-namespace {
  background: url(/icons/namespace.png) center left no-repeat; }

.icon-package {
  background: url(/icons/package.png) center left no-repeat; }

.keyword {
  color: blue; }

.type {
  color: #B93D3D; }

.enum {
  color: #8700BD; }

.class {
  color: #00B8B1; }

.name {
  color: black; }

.value {
  color: #00B80F; }

.monospace, .code-line-code-cell, .nav-list-children {
  font-size: 14px;
  font-family: monospace; }

.code {
  line-height: 1.5;
  border-collapse: separate;
  width: 100%;
  tab-size: 8;
  border-spacing: 0;
  padding-top: 8px;
  padding-bottom: 8px; }

.code-line {
  white-space: pre;
  line-height: 20px; }

.code-line-code-cell {
  padding-left: 8px; }

.code-diagnostics {
  border: 1px solid red;
  background-color: lightpink; }

.code-diagnostics p {
  margin: 0; }

.nav-list-children {
  list-style-type: none;
  text-overflow: ellipsis;
  padding-left: 0; }

.nav-list-children > li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.nav-list-toggle {
  padding-left: 14px;
  background: url(/icons/down.png) center left no-repeat; }

.nav-list-collapsed > .nav-list-toggle {
  background: url(/icons/right.png) center left no-repeat; }

.nav-list-collapsed > .nav-list-children {
  display: none; }

.nav-list-group .nav-list-children {
  padding-left: 14px; }

#comment-form-template {
  display: none; }

.comment-actions {
  float: right;
  margin-left: 10px;
  margin-right: -5px; }

.comment-box {
  border: 1px solid gray;
  border-spacing: 0;
  background-color: white; }

.comment-cell {
  padding: 10px;
  vertical-align: top; }

.comment-contents {
  max-width: 592px;
  margin-bottom: 3px;
  overflow-wrap: break-word; }

.comment-delete-text {
  color: #B93D3D;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.comment-header {
  margin-bottom: 0px;
  line-height: 0.8 !important;
  display: inline; }

.comment-holder {
  max-width: 780px;
  border-radius: 2px; }

.comment-icon {
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle; }

.comment-submit-button {
  margin: 0 4px 0; }

.comment-timestamp {
  float: right;
  padding-top: 6px;
  font-size: 12px; }

.review-comment {
  padding: 4px 16px;
  position: relative; }

.review-comment:first-child {
  padding-top: 16px; }

.review-comment p {
  margin-bottom: 0; }

.comments-resolved {
  display: none; }

.commentable {
  cursor: pointer; }

.review-thread-reply {
  background-color: #F6F8FA;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #E1E4E8;
  border-bottom: 1px solid #E1E4E8;
  padding: 8px 16px;
  display: table;
  width: 100%; }

.reply-cell {
  display: table-cell; }

.new-comment {
  border-radius: 3px;
  line-height: 1.5;
  border-collapse: separate;
  tab-size: 8;
  background-color: #F6F8FA;
  padding: 12px; }

.new-comment-content-text {
  background-color: #F6F8FA;
  max-width: 758px; }

.new-comment-content {
  position: relative;
  margin: 0 4px 8px; }

.code-line:hover .code-line-add-cell-button {
  opacity: 1; }

.code-line-add-cell-button:hover {
  transform: scale(1); }

.code-line-add-cell-button {
  position: relative;
  z-index: 5;
  float: left;
  width: 22px;
  height: 22px;
  margin: -2px -10px -2px -20px;
  line-height: 21px;
  color: #fff !important;
  text-align: center;
  text-indent: 0;
  cursor: pointer;
  background-color: #0366d6;
  background-image: linear-gradient(#0372ef, #0366d6);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(27, 31, 35, 0.15);
  opacity: 0;
  transition: transform .1s ease-in-out;
  transform: scale(0.8);
  user-select: none; }

html {
  font-size: 14px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

button.accept-policy {
  font-size: 1rem;
  line-height: inherit; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */ }
